@media only screen and (max-width : 840px) {

  .col-2-left {
    width: 100%;
    padding-top: 75px;
  }

  .col-2-right {
    width: 100%;
    
  }

  .file-button {
    top: 2%;
    left: 5%;
  }

  #cameraBtn {
    top: 2%;
    left: 20%;
  }

  .download-button {
    top: 2%;
    left: 35%;
  }

  #leftBtn {
    top: 2%;
    left: 50%;
  }

  #rightBtn {
    top: 2%;
    left: 65%;
  }

  

  

  .filter-title {
    padding-left: 10px;
  }

  .filter-container {
    overflow: auto;
    white-space: nowrap;
  }

  .filter-container div {
    float: none;
    display: inline-block;
  }

  .edit-box-container {
    padding-top: 20px;
    padding-left: 10px;
  }

}