@media only screen and (max-width : 400px) {

  .col-2-left {
    width: 100%;
  }

  .col-2-right {
    width: 100%;
  }

  .download-button {
    left: 80%;
  }

  .file-button {
    left: 63%;
  }

  #rightBtn {
    left: 46%;
  }

  #leftBtn {
    left: 28%;
  }


}