* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
}

/* Float padding fix */
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1; /* IE6&7 */ 
}